---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Banner from '../components/Banner.astro';
import PracticeAreas from '../components/PracticeAreas.astro';
import About from '../components/About.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<BaseLayout>
  <Header />
  <main>
    <Hero />
    <Banner />
    <PracticeAreas />
    <About />
    <Contact />
  </main>
  <Footer />
</BaseLayout>
